main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
  text-decoration-line: underline;
  color: #aa28b0;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
  
}

.interval-container {
  display: flex;
  margin: 0 40px;
  align-items: center;
  
}

.interval-length-container {
  display: flex;
  color: #eee;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
  height: 25px;
  background-color: #aa28b0;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eee;
  width: 70px;
  border-radius: 10px;

}

button:disableb {
  cursor : not-allowed;
}

.timer-container{
  border: 4px solid #aa28b0;
  margin-top: 40px;
  border-radius: 30px;
  width: 250px;
  text-align: center;
  padding: 10px;
}

.timer {
  font-size: 2rem;
  color: #eee;
  
}

.timer-actions {
  margin-top: 20px;
  text-align: center;
}

